.l-container-custom {
  width: auto;
  max-width: unset;
  margin-left: calc(60px + (47.2% - 590px));
}

@include media-breakpoint-down(lg) {
  .l-container-custom {
    margin-left: calc(60px + (55.2% - 590px));
  }
}

@include media-breakpoint-down(md) {
  .l-container-custom {
    margin-left: calc(60px + (69.2% - 590px));
  }
}

@include media-breakpoint-down(sm) {
  .l-container-custom {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 13px;
    padding-left: 13px;
  }
}
