//////////////////////////////////////////

@mixin font-light {
  font-family: EuclidCircularALight !important;
}

@mixin font-regular {
  font-family: EuclidCircularARegular !important;
}

@mixin font-medium {
  font-family: EuclidCircularAMedium !important;
}

//////////////////////////////////////////
