<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="google" content="notranslate" />
    <title>PES Automation</title>
    <meta name="description" content="Falcon" />
    <link rel="icon" href="../assets/images/favicon.ico" type="image/x-icon" />
    <link href="../assets/css/aos.css" rel="stylesheet" />
    <link href="../scripts/owl-carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="../scripts/owl-carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="../scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="../assets/css/slick.css" rel="stylesheet" />
    <link href="../assets/css/slick-theme.css" rel="stylesheet" />
    <link href="../assets/css/index.min.css" rel="stylesheet" />
    <link href="../assets/css/cndk.beforeafter.css" rel="stylesheet" />
    <link href="../assets/css/falcon.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" type="text/css" href="http://kenwheeler.github.io/slick/slick/slick-theme.css"/> -->
</head>

<body>
    <!-- header  -->
    <nav class="navbar navbar-expand-lg static-top l-navbar c-navbar">
        <div class="container">
            <a class="navbar-brand l-navbar__brand" href="index.html">
                <img class="l-navbar__logo" src="/assets/images/logo.svg" alt="" />
            </a>
            <div class="c-navbar__menu l-navbar__menu l-navbar__menu-links d-none d-lg-flex">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item c-navbar__menu-item l-navbar__menu-item">
                        <a class="nav-link" href="products.html">Products</a>
                        <div class="l-navbar__megaMenu">
                            <div class="container">
                                <div class="l-navbar__megaMenu-row">
                                    <div class="l-navbar__megaMenu-item">
                                        Product 1
                                        <div class="l-navbar__megaMenu-item-child">
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Product 1.1
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Product 1.1.1
                                                </div>

                                            </div>
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Product 1.2
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Product 1.2.1
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="l-navbar__megaMenu-item">
                                        Product 2
                                        <div class="l-navbar__megaMenu-item-child">
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Product 2.1
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Product 2.1.1
                                                </div>

                                            </div>
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Product 2.2
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Product 2.2.1
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="l-navbar__megaMenu-item">
                                        Product 3
                                        <div class="l-navbar__megaMenu-item-child">
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Product 3.1
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Product 3.1.1
                                                </div>
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Product 3.1.2
                                                </div>

                                            </div>
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Product 3.2
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Product 3.2.1
                                                </div>
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Product 3.2.2
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item c-navbar__menu-item l-navbar__menu-item">
                        <div class="nav-link" href="ready-to-go.html">CUSTOM SOLUTIONS</div>
                        <div class="l-navbar__megaMenu">
                            <div class="container">
                                <div class="l-navbar__megaMenu-row">
                                    <div class="l-navbar__megaMenu-item">
                                        Custom Solutions 1
                                        <div class="l-navbar__megaMenu-item-child">
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Custom Solutions 1.1
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Custom Solutions 1.1.1
                                                </div>

                                            </div>
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Custom Solutions 1.2
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Custom Solutions 1.2.1
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="l-navbar__megaMenu-item">
                                        Custom Solutions 2
                                        <div class="l-navbar__megaMenu-item-child">
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Custom Solutions 2.1
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Custom Solutions 2.1.1
                                                </div>

                                            </div>
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Custom Solutions 2.2
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Custom Solutions 2.2.1
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="l-navbar__megaMenu-item">
                                        Custom Solutions 3
                                        <div class="l-navbar__megaMenu-item-child">
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Custom Solutions 3.1
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Custom Solutions 3.1.1
                                                </div>
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Custom Solutions 3.1.2
                                                </div>

                                            </div>
                                            <div class="l-navbar__megaMenu-item-child--1">
                                                Custom Solutions 3.2
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Custom Solutions 3.2.1
                                                </div>
                                                <div class="l-navbar__megaMenu-item-child--2">
                                                    Custom Solutions 3.2.2
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="nav-item dropdown c-navbar__menu-item l-navbar__menu-item">
									<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Link 1 </a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown">
											<a class="dropdown-item" href="/exam-detail">Link 1</a>
											<a class="dropdown-item" href="/exam-detail">Link 2</a>
											<a class="dropdown-item" href="/exam-detail">Link 3</a>
											<a class="dropdown-item" href="/exam-detail">Link 4</a>
											<a class="dropdown-item" href="/exam-detail">Link 5</a>
											<div class="dropdown-divider"></div>
											<a class="dropdown-item" href="/exams-list">Link 6</a>
									</div>
								</li> -->
                    <li class="nav-item c-navbar__menu-item l-navbar__menu-item">
                        <a class="nav-link" href="industries.html">INDUSTRIES</a>
                    </li>
                    <li class="nav-item c-navbar__menu-item l-navbar__menu-item">
                        <a class="nav-link" href="about-us.html">ABOUT US</a>
                    </li>
                    <li class="nav-item c-navbar__menu-item l-navbar__menu-item">
                        <a class="nav-link" href="contact.html">CONTACT</a>
                    </li>

                </ul>

                <!-- <div class="l-navbar__search">
					<div class="form-group">
						<input type="text" class="form-control c-input c-input--search" tabindex="-1" id="searchInput"
							placeholder="Kurs veya eğitim ara" />
					</div>
				</div> -->

            </div>
            <div class="l-navbar__menu-right">
                <div class="c-hamburger">
                    <div class="c-hamburger__wrapper">
                        <div class="c-hamburger__bar c-hamburger__bar--top"></div>
                        <div class="c-hamburger__bar c-hamburger__bar--middle"></div>
                        <div class="c-hamburger__bar c-hamburger__bar--bottom"></div>
                    </div>
                </div>

            </div>
    </nav>

    <!-- mobile menu -->
    <div class="c-mobile-menu">
        <div class="container">
            <ul class="c-mobile-menu__list">
                <li class="c-mobile-menu__item">
                    <a href="index.html">Homepage</a>
                </li>
                <li class="c-mobile-menu__item">
                    <a href="about-us.html">About Us</a>
                </li>
                <li class="c-mobile-menu__item">
                    <a href="ready-to-go.html">Ready To Go</a>
                </li>
                <li class="c-mobile-menu__item">
                    <a href="gallery.html">Gallery</a>
                </li>
                <li class="c-mobile-menu__item">
                    <a href="ready-to-go.html">Latest Builds</a>
                </li>
                <li class="c-mobile-menu__item">
                    <a href="shop.html">Shop</a>
                </li>
                <li class="c-mobile-menu__item">
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
            <div class="c-mobile-menu__actions">
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <a href="" class="c-button c-button--primary c-button--extra-wide">Build Your Own</a>
                    </div>
                    <div class="col-12 col-sm-6">
                        <a href="" class="c-button c-button--gray c-button--wide">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- breadcrumb -->
    <div class="c-breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="c-breadcrumb__title">Contact</h2>
                    <ul class="c-breadcrumb__path">
                        <li class="c-breadcrumb__path-item">
                            <a href="">Home</a>
                        </li>
                        <li class="c-breadcrumb__path-icon">
                            >
                        </li>
                        <li class="c-breadcrumb__path-item">
                            <a href="">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- contact info cards -->
    <div class="c-section">
        <div class="container">
            <div class="c-contact">
                <div class="row">
                    <div class="col-md-5">

                        <h2 class="c-contact__title">
                            NEW YORK
                        </h2>
                        <div class="c-contact__list">
                            <div class="c-contact__list-item">
                                <div class="c-contact__list-icon">
                                    <svg class="c-icon__svg c-icon--md">
                                        <use xlink:href="../assets/images/sprite.svg#home"></use>
                                    </svg>
                                </div>

                                <p class="c-contact__list-info">
                                    1377 Motor Parkway Islandia, NY 11749
                                </p>
                            </div>
                            <div class="c-contact__list-item">
                                <div class="c-contact__list-icon">
                                    <svg class="c-icon__svg c-icon--md">
                                        <use xlink:href="../assets/images/sprite.svg#phone"></use>
                                    </svg>
                                </div>

                                <p class="c-contact__list-info">
                                    <a href="tel:866-463-3786">(866-463-3786)</a>
                                </p>
                            </div>
                            <div class="c-contact__list-item">
                                <div class="c-contact__list-icon">
                                    <svg class="c-icon__svg c-icon--md">
                                        <use xlink:href="../assets/images/sprite.svg#mail"></use>
                                    </svg>
                                </div>

                                <p class="c-contact__list-info">
                                    <a href="mailto:info@pesautomation.com">info@pesautomation.com</a>
                                </p>
                            </div>
                            <div class="c-contact__list-item">
                                <p class="c-contact__list-link">
                                    <a href="">Road Description</a>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5 offset-md-2">
                        <!-- map comes here -->
                        <div class="c-contact__map">
                            <img width="100%" src="../assets/images/map.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="c-contact">
                <div class="row">
                    <div class="col-md-5">

                        <h2 class="c-contact__title">
                            TEXAS
                        </h2>
                        <div class="c-contact__list">
                            <div class="c-contact__list-item">
                                <div class="c-contact__list-icon">
                                    <svg class="c-icon__svg c-icon--md">
                                        <use xlink:href="../assets/images/sprite.svg#home"></use>
                                    </svg>
                                </div>

                                <p class="c-contact__list-info">
                                    1377 Motor Parkway Islandia, NY 11749
                                </p>
                            </div>
                            <div class="c-contact__list-item">
                                <div class="c-contact__list-icon">
                                    <svg class="c-icon__svg c-icon--md">
                                        <use xlink:href="../assets/images/sprite.svg#phone"></use>
                                    </svg>
                                </div>

                                <p class="c-contact__list-info">
                                    <a href="tel:866-463-3786">(866-463-3786)</a>
                                </p>
                            </div>
                            <div class="c-contact__list-item">
                                <div class="c-contact__list-icon">
                                    <svg class="c-icon__svg c-icon--md">
                                        <use xlink:href="../assets/images/sprite.svg#mail"></use>
                                    </svg>
                                </div>

                                <p class="c-contact__list-info">
                                    <a href="mailto:info@pesautomation.com">info@pesautomation.com</a>
                                </p>
                            </div>
                            <div class="c-contact__list-item">
                                <p class="c-contact__list-link">
                                    <a href="">Road Description</a>
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-5 offset-md-2">
                        <!-- map comes here -->
                        <div class="c-contact__map">
                            <img width="100%" src="../assets/images/map.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- write us -->
    <div class="c-section c-section--alternative">
        <div class="c-contact__form">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="c-contact__form-title">
                            Write Us
                        </h2>
                    </div>
                    <div class="col-md-6">
                        <input class="c-input" type="text" placeholder="Your Name *">
                        <input class="c-input" type="email" placeholder="Your Email *">
                        <input id="phone" class="c-input" type="tel" placeholder="Your Phone *">
                    </div>
                    <div class="col-md-6">
                        <textarea class="c-input c-input--textarea">Message</textarea>
                        <button class="c-button c-button--primary c-button--block c-button--md">Send Message</button>
                    </div>
                </div>
            </div>
        </div>

    </div>




    <!-- go to top button -->
    <div class="c-go-top" data-aos="fade-up" data-aos-offset="70" data-aos-duration="500">
        <svg class="c-icon__svg c-icon--xl">
            <use xlink:href="../assets/images/sprite.svg#chevron-up"></use>
        </svg>
    </div>


    <script src="../scripts/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/lazy-load/jquery.lazy.min.js"></script>
    <script src="../scripts/image-compare/cndk.beforeafter.js"></script>
    <script src="../scripts/general/slick.min.js"></script>
    <script src="../scripts/general/jquery-input-mask-phone-number.min.js"></script>
    <script src="../scripts/general/aos.js"></script>
    <script src="../scripts/owl-carousel/owl.carousel.min.js"></script>
    <script src="../scripts/bootstrap/popper.min.js"></script>
    <script src="../scripts/bootstrap/bootstrap.min.js"></script>
    <script src="../scripts/general/script.js"></script>
</body>

</html>