@media screen and (max-width: 500px) {
  .dd-list .dd-item .dd-handle p {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.cke_inner {
  width: 100%;
}

.ref-logo-prev-bg {
  width: 100%;
  height: 120px;
  background: #1a1e22;
  justify-content: center;
  align-items: center;
  display: flex;
}

.ref-logo-prev-img {
  width: 120px;
  /* filter: contrast(0) brightness(2); */
}

.ref-logo-prev-img.badimg {
  filter: grayscale(1) brightness(2) !important;
}

@media screen and (min-width: 992px) {
  .modal-lg,
  .modal-xl {
    max-width: 990px !important;
  }
}

@media screen and (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 90vw !important;
  }

  .modal-lg,
  .modal-xl {
    max-width: 90vw !important;
  }
}

.newsprevlabel {
  padding: 8px 4px;
  font-weight: bold;
  font-size: 14px;
}

.newsprev {
  height: 100%;
  background-color: #1a1e22;
  padding: 1.5rem;
  border-radius: 18px;
}

.newsprev .card {
  padding: 1.5rem !important;
  background: linear-gradient(
    90deg,
    rgba(179, 167, 171, 0.1) 0.04%,
    rgba(89, 82, 85, 0.2) 101.06%
  ) !important;
  border: none !important;
  border-radius: 18px !important;
}

.newsprev .newsimage {
  aspect-ratio: 111/65 !important;
  width: 100%;
  object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: 10px !important;
}

.newsprev .card-body {
  padding: 0 !important;
}

.newsprev .newstitle {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.newsprev .newsdesc {
  color: #7e8e9b !important;
  font-size: 1rem;
}
