.c-breadcrumb {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 12px;
  text-transform: capitalize;

  &__item {
    display: flex;
    align-items: center;

    &:not(:last-child) {
      color: var(--color-gray-500);
      @include font-regular;
      transition: ease-in-out all 0.2s;
    }

    a {
      &:hover {
        color: var(--color-purple);
        transition: ease-in-out all 0.2s;
        text-decoration: underline !important;
      }
    }

    > span {
      margin-inline: 6px;
      color: var(--color-gray-500);
    }

    &:last-child {
      margin-right: 0;
      @include font-medium;
    }
  }
}
