.c-badge {
	border: 1px solid var(--color-success);
	background-color: var(--color-success-light);
	color: var(--color-success);
	font-size: $g-font-size-12;
	text-transform: uppercase;
	@include font-medium;
	padding: map-get($g-gaps, 2xsmall) map-get($g-gaps, normal);
	border-radius: 5px;
	width: fit-content;
	margin-bottom: map-get($g-gaps, xsmall);
	margin-right: map-get($g-gaps, xsmall);
	height: 100%;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}
