.c-go-top {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 9999;
	background-color: var(--color-primary-light);
	border: 1px solid var(--color-primary);
	width: 40px;
	height: 40px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-primary);
	cursor: pointer;
	box-shadow: 0px 0px 30px 0px rgba(14, 35, 84, 0.3);
	transition: ease all 0.2s;

	&:hover {
		background-color: var(--color-primary);
		color: var(--color-white);
		transition: ease all 0.2s;
	}
}
