.c-input {
  font-size: 14px;
  border: 0;
  @include font-light;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: text;
  border: 1px solid var(--color-gray-300);
  border-radius: 6px;
  padding: map-get($g-gaps, small);
  color: var(--color-gray-500);
  height: 39px;
  width: 100%;
  background: var(--color-white);

  &--has-icon {
    padding-left: map-get($g-gaps, large);
    font-size: $g-font-size-14;

    & ~ svg {
      position: absolute;
      margin-left: 12px;
    }
  }

  & ~ & {
    margin-top: map-get($g-gaps, xsmall);
  }

  &:focus {
    outline: 0;
    border: 1px solid var(--color-primary);
    box-shadow: none;
    color: var(--color-gray);
  }

  &::-webkit-input-placeholder {
    color: var(--color-gray);
  }

  &__label {
    @include font-light;
    font-size: $g-font-size-13;
    color: var(--color-gray-700);
    margin-block: 14px 4px;

    &--small {
      font-size: $g-font-size-14 !important;
    }
  }

  &,
  &__label {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  &--textarea {
    resize: none;
    height: 110px !important;
  }

  &--radio {
    &[type='radio']:checked,
    &[type='radio']:not(:checked) {
      position: absolute;
      left: -9999px;
    }
    &[type='radio']:checked + label,
    &[type='radio']:not(:checked) + label {
      position: relative;
      padding-left: 18px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: var(--color-secondary);
      font-size: $g-font-size-12;
      @include font-regular;
    }
    &[type='radio']:checked + label:before,
    &[type='radio']:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 14px;
      height: 14px;
      border: 1px solid #ddd;
      border-radius: 4px;
      background: #fff;
    }
    &[type='radio']:checked + label:after,
    &[type='radio']:not(:checked) + label:after {
      content: '';
      width: 9px;
      height: 9px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.492' height='8.31' viewBox='0 0 8.492 8.31'%3E%3Cg id='l8TDDM.tif' transform='translate(-2009.821 -2234.432)'%3E%3Cg id='Group_2377' data-name='Group 2377'%3E%3Cpath id='Path_1371' data-name='Path 1371' d='M2017.907,2234.433a1.036,1.036,0,0,0-.5.115,4.907,4.907,0,0,0-1.172.825c-.473.426-.934.867-1.385,1.316-.772.766-1.495,1.579-2.2,2.41a.094.094,0,0,1-.14.025c-.262-.134-.525-.271-.794-.393a3.848,3.848,0,0,0-1.3-.413.5.5,0,0,0-.6.385l-.005.012a.61.61,0,0,0,.056.223,1.305,1.305,0,0,0,.123.135,9.526,9.526,0,0,1,1.549,1.8c.364.562.7,1.141,1.049,1.713a.252.252,0,0,0,.245.15.249.249,0,0,0,.213-.179,22.127,22.127,0,0,1,.946-2.088,19.189,19.189,0,0,1,1.507-2.459,17.6,17.6,0,0,1,2.185-2.468,2.044,2.044,0,0,0,.619-.739v-.079A.413.413,0,0,0,2017.907,2234.433Z' fill='%23131e29'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 2px;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
    &[type='radio']:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    &[type='radio']:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

input[type='file'] {
  @include font-light;
  color: var(--color-gray);
  cursor: pointer;
  font-size: 14px;
}

input[type='file']::-ms-browse {
  border: 1px solid var(--color-gray-300);
  padding: 0 map-get($g-gaps, small);
  @include font-light;
  height: 39px;
  border-radius: 6px;
  color: var(--color-gray);
  background-color: transparent;
  margin-right: map-get($g-gaps, small);
  cursor: pointer;
}

input[type='file']::-webkit-file-upload-button {
  border: 1px solid var(--color-gray-300);
  padding: 0 map-get($g-gaps, small);
  @include font-light;
  height: 39px;
  border-radius: 6px;
  color: var(--color-gray);
  background-color: transparent;
  transition: 0.3s;
  margin-right: map-get($g-gaps, small);
  cursor: pointer;
}

input[type='file']::file-selector-button {
  border: 1px solid var(--color-gray-300);
  padding: 0 map-get($g-gaps, small);
  @include font-light;
  height: 39px;
  border-radius: 6px;
  color: var(--color-gray);
  background-color: transparent;
  transition: 0.3s;
  margin-right: map-get($g-gaps, small);
  cursor: pointer;
}

input[type='file']::-ms-browse:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

input[type='file']::-webkit-file-upload-button:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

input[type='file']::file-selector-button:hover {
  background-color: var(--color-primary-light);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}
