.c-job-card {
  background: var(--color-gray-100);
  padding: map-get($g-gaps, normal);
  border-radius: 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__body {
    margin-top: map-get($g-gaps, xsmall);
    margin-bottom: map-get($g-gaps, small);

    &--detail {
      > * {
        @include font-light;
        color: var(--color-gray-700);
        font-size: $g-font-size-14;
      }
    }
  }

  &__title {
    @include font-medium;
    color: var(--color-gray-900);
    font-size: $g-font-size-base !important;
    margin-top: map-get($g-gaps, xsmall);
  }

  &__content {
    @include font-light;
    color: var(--color-gray-700);
    font-size: $g-font-size-14;
    margin-bottom: map-get($g-gaps, xsmall);
  }

  &__location {
    @include font-medium;
    color: var(--color-gray-900);
    font-size: $g-font-size-base;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-left {
      color: var(--color-gray-700);

      a {
        &:not(:last-child) {
          margin-right: map-get($g-gaps, small);
        }
      }
    }
  }
}
