.c-modal {
  // max-width: 1100px;
  padding: 0 24px 24px 24p;

  &__content {
    border-radius: 18px;
  }

  &__header {
    display: flex;
    align-items: center;
    @include font-light;
    border-bottom: none;
    padding: 24px;
    justify-content: flex-end;
  }

  &__close {
    cursor: pointer;
    font-size: $g-font-size-14;

    svg {
      margin-right: map-get($g-gaps, small);
    }
  }

  &__body {
    padding: 0 24px 24px 24px;
  }

  form {
    padding: map-get($g-gaps, normal) 0;
  }

  &__right {
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  }

  &__text {
    font-size: $g-font-size-14;
    color: var(--color-white-light-80);
    @include font-light;
  }
}
.modal {
  z-index: 999999;
}

.modal-backdrop {
  z-index: 99999;

  &.show {
    opacity: 0.6;
  }
}

@include media-breakpoint-down(md) {
  .c-modal {
    padding: 0 map-get($g-gaps, xsmall);

    &__body {
      max-height: 400px;
      overflow: auto;
    }

    &__content {
      border-radius: 8px;
    }

    &__right {
      display: none;
    }
  }
}
