.c-map {
  background-color: var(--color-gray-100);
  width: 100%;
  height: 400px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-gray-500);
}
